@font-face {
  font-family: OpenSans;
  src: url(../fonts/OpenSans-Regular.woff);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: OpenSans;
  src: url(../fonts/OpenSans-Bold.woff);
  font-weight: 800;
  font-style: bold;
}

html {
  font-size: 10px;
}

* {
  box-sizing: border-box;
  line-height: 1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: OpenSans, Arial, Helvetica, sans-serif;
}

header {
  position: relative;
}

.bg-image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-image::before {
  content: "";
  background-color: #0a0e34;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: .9;
  position: absolute;
}

.box-header {
  position: relative;
  display: flex;
  flex-direction: column;
}

.logo-block {
  display: inherit;
  justify-content: center;
}

.slogan {
  color: white;
  text-transform: uppercase;
}

.buttons a {
  text-decoration: none;
}

.button-wrapper {
  background-color: #5e42b0;
  color: white;
  display: flex;
  text-transform: uppercase;
  align-items: center;
}

.icon {
  background-repeat: no-repeat;
  background-size: cover;
}

.ios {
  background-image: url(../svg/apple_logo_black.svg);
}

.android {
  background-image: url(../svg/google-play.svg);
}

@media (max-width: 640px) {

  body {
    min-width: 320px;
  }

  .bg-image {
    background-image: url(../images/football_767.jpg);
    min-height: 100vh;
  }

  .conteiner {
    padding-left: 6.25%;
    padding-right: 6.25%;
  }

  .logo {
    margin-top: 11.78%;
    width: 13.3rem;
  }

  .slogan {
    margin-top: 48.92%;
    letter-spacing: 0.14rem;
  }

  .slogan h1 {
    font-size: 2.8rem;
  }

  .slogan-2 {
    display: block;
    margin-top: .9rem;
    padding-left: 16%;
    line-height: 1;
  }

  .buttons {
    margin-top: 32.14%;
  }

  .button-wrapper {
    border-radius: 1.7rem;
    font-size: .8rem;
    letter-spacing: 0.04rem;
    padding-left: 30%;
  }

  .buttons a:nth-child(even) .button-wrapper {
    margin-top: 4.375%;
  }

  .icon {
    width: 24px;
    height: 24px;
  }

  .button-text {
    margin: .9rem 1rem;
    line-height: 1;
  }

  /* main  athlets and players */

  .athlets, .players {
    position: relative;
  }

  .athlets h1,  .players h1{
    font-size: 5rem;
    text-transform: uppercase;
    color: #e7e7e7;
    padding-top: 8.6%;
    margin-bottom: 76.25%;
  }

  .athlets h2,  .players h2{
    text-transform: uppercase;
    color: #c1c1c1;
    font-size: 2.3rem;
    margin-left: 1rem;
  }

  .athlets p, .players p {
    font-size: 1.5rem;
    margin: 2.8rem 0 0 0;
    letter-spacing: 0.075rem;
    line-height: 1.2;
  }

  .items section {
    padding-top: 6rem;
    padding-bottom: 5.6rem;
  }

  .items section:first-child {
    background-color: #fafafa;
    padding-top: 25.93%;
  }

  .items section:nth-child(2) {
    background-color: #f5f4f9;
  }

  .athlets .items section:last-child {
    background-color: #5e42b0;
  }

  .players .items section:last-child {
    background-color: #090c35;
  }

  .athlets .item-title, .players .item-title {
    display: flex;
  }

  .athlets .item, .players .item {
    font-size: 1.4rem;
    letter-spacing: 0.07rem;
    font-weight: bold;
    position: relative;
  }

  .players section:last-child .item {
    color: #8765dd;
  }

  .athlets .item::after, .players .item::after {
    content: '';
    height: .4rem;
    width: 1.7rem;
    position: absolute;
    background-color: #5e42b0;
    border-radius: .17rem;
    bottom: .3rem;
    left: 0;
  }

  .athlets section:last-child .item::after, .players section:last-child .item::after{
    content: '';
    height: .4rem;
    width: 1.7rem;
    position: absolute;
    background-color: white;
    border-radius: .15rem;
    bottom: .3rem;
    left: 0;
  }

  .items section:last-child p {
    color: white;
  }

  .athlets_img {
    position: absolute;
    top: 8rem;
    left: 7rem;
  }

  .athlets__img {
    width: 100%;
  }

  .players_img {
    position: absolute;
    top: 8rem;
    right: .9rem;
  }

  /* main achiv */

  .achiv {
    position: relative;
  }
 
  .achiv__img {
    max-width: 100%;
  }

  .achiv .block-item {
    position: absolute;
    top: -9rem;
    left: 2rem;
  } 

  .achiv .item {
    background-color: #5e42b0;
    display: inline-flex;
    color: white;
    padding: 2.7rem;
    font-size: 1.4rem;
    font-weight: bold;
  }

  .achiv .item::after {
    content: '';
    height: .4rem;
    width: 1.5rem;
    position: absolute;
    background-color: white;
    opacity: .3;
    border-radius: .15rem;
    bottom: 2rem;
  }

  .achiv-content {
    position: relative;
  }

  .achiv h1 {
    margin-top: 3.4rem;
    font-weight: bold;
    font-size: 2.8rem;
    text-transform: uppercase;
    color: #e7e7e7;
  }

  .achiv p {
    font-size: 1.6rem;
    line-height: 1.25;
    margin-top: 2.4rem;
    margin-bottom: 8rem;
    letter-spacing: 0.08rem;
  }

  /* main achiv */

  footer.bg-image{
      background-image: url(../images/game_767.jpg);
      min-height: 100vh;
      position: relative;
  }

  footer.bg-image::before {
    content: "";
    background-color: #0a0e34;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: .9;
    position: absolute;
  }

  .logo-app-box {
    width: 74px;
    height: 74px;
    background-color: white;
  }

}